:root {
  --world-size: 20;
}

@font-face {
  font-family: minecraftFontItalic;
  src: url("./minecraft_font/MinecraftBoldItalic-1y1e.otf");
}
@font-face {
  font-family: minecraftFontRegular;
  src: url("./minecraft_font/MinecraftRegular-Bmg3.otf");
}
@font-face {
  font-family: minecraftFontBold;
  src: url("./minecraft_font/MinecraftBold-nMK1.otf");
}
@font-face {
  font-family: minecraftTitleFont;
  src: url("./minecraft_font/MinecraftEvenings-RBao.ttf");
}
body {
  height: 100vh;
  font-family: minecraftFontBold;
  color: aliceblue;
  position: relative;
  /* letter-spacing: 1rem; */
}

.header {
  color: aliceblue;
  padding-bottom: 15px;
  text-align: center;
}
.restartGameButton,
.resetBtn {
  color: aliceblue;
  font-size: 20px;
  border: 2px solid aliceblue;
  background-color: rgb(112, 9, 9);
  padding: 10px;
  margin-bottom: 15px;
}
.restartGameButton:hover,
.resetBtn:hover {
  cursor: pointer;
  box-shadow: 5px 5px 5px rgb(194, 150, 150);
}
.tutEl {
  margin: 5px 0;
  height: 40px;
  width: 40px;
  border: 1px solid white;
  background: center / cover no-repeat;
  padding: 5px;
}

#minecraft {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1000px 1fr 250px;
}
#world {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(var(--world-size), auto);
  grid-template-rows: repeat(var(--world-size), auto);
  grid-gap: 0;
  grid-column: 2 / 2;
}
#sideToolBar {
  height: 100%;
  grid-column: 4 / 4;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 30px;
}

/* tools */
#tools {
}
.inventoryList,
.toolsList {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
}
.toolBox {
  margin: 5px 0;
  height: 100px;
  width: 100px;
  border: 1px solid white;
  background: center / 50% no-repeat;
  padding: 5px;
}
[data-type="axe"] {
  background-image: url("./img/PinClipart.com_axe-clip-art_5397833.png");
}

[data-type="pickaxe"] {
  background-image: url("./img/PinClipart.com_minecraft-birthday-clipart_751039.png");
}

[data-type="shovel"] {
  background-image: url("./img/PinClipart.com_shovel-clip-art_3735821.png");
}

/* inventory */
#inventory {
}

.inventoryBox {
  margin: 5px 0;
  height: 50px;
  width: 50px;
  border: 1px solid white;
  background: center / cover no-repeat;
  font-size: 1.5rem;
  text-align: center;
}

/* tiles */
.tile {
  height: 100%;
  width: 100%;
  background: center / cover no-repeat;
}

[data-type="sky"] {
  background-color: rgb(50, 157, 245);
}
[data-type="cloud"] {
  background-color: rgb(242, 247, 251);
}

[data-type="trunk"] {
  background-image: url("./img/tree_trunk_block.jfif");
}

[data-type="leaves"] {
  background-image: url("./img/leaves_block.png");
}

[data-type="rock"] {
  background-image: url("./img/stone_block.png");
}

[data-type="dirt"] {
  background-image: url("./img/dirt_block.jpg");
}

/* action style */
.tile:hover {
  border: 1px solid white;
  margin: -1px;
}

.toolBox.selected {
  background-color: blue;
}
.inventoryBox.selected {
  border: 3px solid blue;
}
.inventoryBox:hover,
.toolBox:hover {
  cursor: pointer;
  box-shadow: 5px 5px 5px rgb(194, 150, 150);
}
/* landing page style */
#landingPage {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: center repeat;
  background-image: url("./img/dirt_block.jpg");
  padding: 50px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.minecraftTitle {
  width: 80vw;
  padding-bottom: 20px;
}
.startBtn {
  color: black;
  font-size: 40px;
  border: 2px solid black;
  background-color: aliceblue;
  padding: 20px 40px;
}
.startBtn:hover {
  cursor: pointer;
  box-shadow: 5px 5px 5px black;
}
#landingPage.hidden {
  display: none;
}
.tutorial-container {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.801);
  padding: 50px 100px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  gap: 10px;
}
.tutorial-container h2 {
  justify-self: start;
  font-family: minecraftFontRegular;
  font-size: 30px;
}
.tutorial-container h3 {
  justify-self: center;
  font-family: minecraftFontItalic;
  font-size: 23px;
}
